extends: default

yaml-files:
  - "config/**/*.yaml"
  - "config/**/*.yml"

rules:
  line-length: disable
  document-start: disable
  key-duplicates: enable
  truthy:
    level: warning
    check-keys: false
  indentation:
    spaces: 2
    indent-sequences: consistent

  comments:
    level: warning

  comments-indentation:
    level: warning

ignore: |
  .git/
  .venv/
  venv/
  dist/
  build/
  **/__pycache__/
